<div>
  <mat-toolbar color="primary" class="col-sm-12 col-md-12 col-xl-12 col-lg-12 navbar container-fluid vh-30 ">
  </mat-toolbar>
</div>
<div class="m-4">
  <mat-card class="d-flex align-items-center" mat-raised-button>
    <div class="mat-typography d-flex flex-row">
      <img aria-hidden="false" class="align-self-center" height="40px" width="35px" src="../assets/logo.png" />
      <div d-flex flex-column class="ml-3">
        <h2 style="color:blue;">AAMEC</h2>
        <h3 style="color:blue;">Anjalai Ammal Mahalingam Engineering College</h3>
        <h4>kovilvenni,Thiruvarur dist</h4>
        <h4>2020-20021</h4>
      </div>
    </div>
  </mat-card>
</div>
<mat-accordion>
  <!-- College Details -->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          College Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Full name</mat-label>
            <input matInput>
          </mat-form-field>

        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Short name</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Is Parent</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Has children</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Pincode</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

      </div>
      <div class="row d-flex justify-content-end mt-5 ">
        <div class="col-6 d-flex">
          <mat-slide-toggle>Under Anna university</mat-slide-toggle>
        </div>
      </div>

      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <!-- Communication Details -->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Communication Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Address Line 1</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Address Line 2</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Address Line 3</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Address Line 4</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>City</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>State</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Phone Number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-start mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Pincode</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>


  <!-- Payment Details -->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Payment Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Bank name</mat-label>
            <input matInput>
          </mat-form-field>

        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Bank account</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Phone number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Address</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-start mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Remarks</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
  <!-- Timing Details -->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Timing Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Start time</mat-label>
            <input matInput>
          </mat-form-field>

        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>End time</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Total period</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Period duration</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-start mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Institute type</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
  <!-- Admission Details -->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Admission Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Head of department</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-start  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex flex-column align-items-start">
          <mat-form-field class="col-12 ">
            <mat-label>Phone number</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-checkbox checked='true' class="ml-3">Same as whatsapp number</mat-checkbox>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Whatsapp number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-start mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Other Staff</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <!-- Enquiry Details -->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Enquiry Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Contact name</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-start  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex flex-column align-items-start">
          <mat-form-field class="col-12 ">
            <mat-label>Phone number</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-checkbox checked='true' class="ml-3">Same as whatsapp number</mat-checkbox>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Whatsapp number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <!--Anti-raging-->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anti raging
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Head of department</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-start  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex flex-column align-items-start">
          <mat-form-field class="col-12 ">
            <mat-label>Phone number</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-checkbox checked='true' class="ml-3">Same as whatsapp number</mat-checkbox>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Whatsapp number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-start mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Other Staff</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
  <!--Placement Details-->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Placement Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Head of department</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-start  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex flex-column align-items-start">
          <mat-form-field class="col-12 ">
            <mat-label>Phone number</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-checkbox checked='true' class="ml-3">Same as whatsapp number</mat-checkbox>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Whatsapp number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-start mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Other Staff</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <!--Transport details-->
  <div class="m-4">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Transport Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Head of department</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-start  d-flex justify-content-center mt-5 ">
        <div class="col-6 d-flex flex-column align-items-start">
          <mat-form-field class="col-12 ">
            <mat-label>Phone number</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-checkbox checked='true' class="ml-3">Same as whatsapp number</mat-checkbox>
        </div>
        <div class="col-6 d-flex ">
          <mat-form-field class="col-12">
            <mat-label>Whatsapp number</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="row align-items-center  d-flex justify-content-start mt-5 ">
        <div class="col-6 d-flex">
          <mat-form-field class="col-12">
            <mat-label>Other Staff</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of name" [value]="name.value">
                {{name.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button mat-button disabledRipple class='text-primary'>save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</mat-accordion>